<!DOCTYPE html>
<html>
  <head>
    <!-- Compiled and minified CSS -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    />

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.6/angular.min.js"></script>
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body ng-app="myApp" ng-controller="myCtrl">
    <!--JavaScript at end of body for optimized loading-->
    <nav>
      <div class="nav-wrapper blue-grey darken-1">
        <a href="#" class="brand-logo">Smart Library</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li><a href="index.html">Book Catalog</a></li>
          <li><a href="admin.html">Admin Pannel</a></li>
          <li><a href="#">Student Login</a></li>
        </ul>
      </div>
    </nav>

    <table class="striped" style="background-color:white; color:black">
            <thead>
              <tr>
                <th>Book Name</th>
                <th>Total Books Owned</th>
                <th>Current Issuers</th>
              </tr>
            </thead>
            <tr ng-repeat="book in bookInfo | filter:filterString">
                <td>{{book.Name}}</td>
                <td>{{book.Tags.length}}</td>
                <td>
                    <div ng-show="book['Issued'] == null && book['Issued'] == {}">Noone Issued Yet</div>
                    <table ng-hide="book['Issued'] == null && book['Issued'] == {}" style="border:1px solid; width: 50%" >
                        <tr>
                        <th>S.No</th>
                        <th>Register Number</th>
                        <th>Issued book RFID</th>
                        </tr>
                        <tr ng-repeat="(key,value) in book['Issued']">
                            <td>{{$index + 1}}</td>
                            <td>{{people[value]}}</td>
                            <td>{{key}}</td>
                        </tr>
                    </table>
                </td>
            </tr>
    </table>

  </body>
      <script>
        var app = angular.module("myApp", []);
        app.controller("myCtrl", function($scope, $http) {
          $scope.bookInfo = "";
          $http({
            method: "GET",
            url:
              "https://fv3md359db.execute-api.ap-south-1.amazonaws.com/final/readrecords"
          }).then(
            function successCallback(response) {
              $scope.bookInfo = response.data;
            },
            function errorCallback(response) {
              // called asynchronously if an error occurs
              // or server returns response with an error status.
              console.log(response.text);
            }
          );

          $scope.people = {
            "65 00d8eb" : "RA1511008010137",
            "0530d3eb" : "RA1511008010085"
        }
        });
  </script>
</html>
